.navbar {
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}

.nav li {
    height: 100%;
}

.nav li a {
    margin: 0;
    padding: 15px;
    height: 100%;
}

.active a {
    background-color: lightgray !important;
}

@media (max-width: 767px) {
    .nav li {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .nav li a {
        text-align: center;
    }
}