body	{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    max-width: 900px;
    height: 100%;
    background-color: white;
}

.heading {
    margin: 0px;
    padding: 20px;
    height: 150px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
}

.column {
    padding-left: 0;
    padding-right: 0;
}

hr {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure img {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

.headshot {
    max-width: 200px;
    max-height: 200px;
}

.blurb {
    margin: 0 auto;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.blurb h2, .blurb p, .blurb a {
    margin: 0;
    padding: 25px;
    width: 100%;
}

.blurb h2, .blurb a {
    padding-top: 0;
    padding-bottom: 0;
    color: darkblue; 
}

.blurb h2 a {
    padding: 0;
}

footer h2 {
    margin: 0;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    background-color: lightgray;
}

footer h2:first-child {
    padding-top: 25px;
}

footer h2:last-child {
    padding-bottom: 25px;
}

@media (max-width: 1080px) {
    .container {
        width: 80%;
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 90%;
    }
}
